<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @context.name %>
</p>

<p>
  <strong>Main:</strong>
  <%= @context.main %>
</p>

<%= link_to 'Edit', edit_context_path(@context) %> |
<%= link_to 'Back', contexts_path %>
