<div id="contexts" class="container-fluid main">
  <p id="notice"><%= notice %></p>

  <div class="col-lg-12">
    <%= form_for Todo.new, html: { class: "form-inline" } do |f| %>
      <div class="form-group">
        <%= f.text_field :body, class: "form-control auto-expand", 
                                placeholder: "Add a new todo",
                                required: true %>
      </div>

      <%= f.submit "Add", class: "btn btn-default" %>
    <% end %>
  </div>

  <section class="col-sm-6">
    <%= render @context.get_main_quadrants %>
  </section>

  <section class="col-sm-6">
    <%= render @context.get_side_quadrants %>
  </section>

</div>