<p id="notice"><%= notice %></p>

<p>
  <strong>Quadrant:</strong>
  <%= @todo.quadrant %>
</p>

<p>
  <strong>User:</strong>
  <%= @todo.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @todo.body %>
</p>

<p>
  <strong>Due:</strong>
  <%= @todo.due %>
</p>

<p>
  <strong>Notify:</strong>
  <%= @todo.notify %>
</p>

<p>
  <strong>Recurring rule:</strong>
  <%= @todo.recurring_rule %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
